.posts {
  padding: 4rem 0;
}
.posts h1 {
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 80px;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-size: 30px;

}
a {
  color: red;
}

.posts h4 {
  letter-spacing: 5px;
  text-transform: capitalize;
  font-size: 45px;
  text-align: center;
  margin-bottom: 3rem;
}
.center {
  width: 85vw;
  margin: 0 auto;
  max-width: 70em;
  padding: 0rem;
}



@media screen and (max-width: 400px) {
    .posts h1 {
  font-size: 20px;
  }
  .center {
    padding: 0;
  }
}